<!--https://github.com/afzafri/Waktu-Solat-API cuba usha api sini untuk dapatkan waktu solat-->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
      <div align="center">
        <p></p>
        <ion-icon size="large" name="moon-outline"></ion-icon>
        <br>
        Ramadan Planner
        <br>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
<!-- <ion-card>
  <ion-item>
  <ion-label >{{location}}</ion-label>
  <ion-button size="default" (click)="showOption()">
    <ion-icon name="locate-outline"></ion-icon>
  </ion-button>
</ion-item>
</ion-card> -->
<ion-card>
  <ion-card-header>
    <div align="center">
    <ion-card-title size="large" >{{today | date:'H:mm'}}</ion-card-title>
    <p></p>
    <ion-card-title size="undefined" >{{today | date:'EEEE,  d MMMM yyyy'}}</ion-card-title>
    </div>
  </ion-card-header>
</ion-card>

<ion-content>
  <p></p>
<div align="center">

  <p></p>
  <ion-title>Prayer Times </ion-title>
  </div>
  <ion-row>
 
    <ion-col col-2 >
      <div align="right">
      <ion-title *ngFor="let Waktu of cart"   class="ion-text-wrap" >
        <ion-title> {{Waktu.namaSolat}} :</ion-title>
      </ion-title>
      </div>
    </ion-col>
    <ion-col col-2 >
      <ion-title *ngFor="let Waktu of cart">
        <ion-title> {{Waktu.waktuSolat}}</ion-title>
      </ion-title>
    </ion-col>
  </ion-row>
</ion-content>


 <ion-card>
    <ion-card-header>
      <ion-card-title>What have you done today?</ion-card-title>
    </ion-card-header>
    <ion-button  expand="block" (click)="goTo()">Go and Check!</ion-button>
  </ion-card> 
  
 
