<ion-app>
  <ion-card>
    <ion-card-content>
      <ion-label><img id="asis" src="../assets/icon/favicon.png" /></ion-label>
      &nbsp;
      <ion-label
        ><ion-card-title id="ramadan-title"
          >Ramadan Planner</ion-card-title
        ></ion-label
      >
      <ion-label
        ><ion-datetime
          id="tarikh"
          displayFormat="DDDD D.M.YYYY"
          [(ngModel)]="myDate"
        ></ion-datetime
      ></ion-label>

      <div id="tarikh">
        <ion-label>{{hour}}&nbsp;:</ion-label>
        <ion-label>&nbsp;{{minute}}&nbsp;:</ion-label>
        <ion-label>&nbsp;{{second}}&nbsp;</ion-label>
        <ion-label>&nbsp;{{ampm}}&nbsp;</ion-label>
      </div>

      <!-- <div id="waktusolat"> -->
      <!-- <div><ion-label>SUBUH{{ azan }}</ion-label></div>
        <div><ion-label>IMSAK</ion-label></div>
        <div><ion-label>SYURUK</ion-label></div>
        <div><ion-label>ZUHUR</ion-label></div>
        <div><ion-label>ASAR</ion-label></div>
        <div><ion-label>MAGHRIB</ion-label></div>
        <div><ion-label>ISYAK</ion-label></div> -->
      <!-- 
        <li *ngFor="let Waktu of this.data">
          <div><ion-label>{{Waktu}} </ion-label></div>
        </li>
      </div> -->
      <!-- 
      <div class="row header">
        <div class="col" *ngFor="let Waktu of this.userData">{{Waktu}}</div>

        <div class="row" *ngFor="let waktu of this.data">
          <div class="col">{{waktu}}</div>
        </div>
      </div> -->

      <!-- <table style="width: 100%;">
        <tr>
          <td *ngFor="let Waktu of cart">{{Waktu}}<br /></td>
          <td *ngFor="let waktu of this.data">{{waktu}}<br /></td>
        </tr>
      </table> -->
      <div id="tarikh">
        <ion-label *ngFor="let Waktu of cart"
          >{{Waktu.namaSolat}} {{Waktu.waktuSolat}}<br
        /></ion-label>
      </div>
      <!-- <div class="row">
        <div class="col-6" *ngFor="let Waktu of this.userData">
          {{Waktu}}
        </div>

        <div class="col-6" *ngFor="let waktu of this.data">
          {{waktu}}
        </div>
      </div> -->

      <!-- <ion-row>
        <ion-col *ngFor="let Waktu of this.userData">{{Waktu}}</ion-col>
        <ion-col *ngFor="let waktu of this.data">
          {{waktu}}
        </ion-col>
      </ion-row> -->
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-content>
              What have you done today?
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-app>
