<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your Event</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--https://ampersandacademy.com/tutorials/ionic-framework-4/ionic-4-calendar-ui-plugin-example
usha tutorial untuk calendar-->
    <!-- <ion-calendar [(ngModel)]="range">
    </ion-calendar> -->
        <!-- https://github.com/hsuanxyz/ion2-calendar -->
        <ion-calendar #calendar
                  [(ngModel)]="date"
                  (onChange)="onChange($event)"
                  (onSelect)="onSelect($event)"
                  (onSelectStart)="onSelectStart($event)"
                  (onSelectEnd)="onSelectEnd($event)"
                  [options]="options"
                  type="string"
                  format="YYYY-MM-DD"
                  >
          </ion-calendar>


</ion-content>




<ion-content>
    <ion-grid>
<!-- <ng-template #otherDate class="otherDate">{{day}}<br>
            <div class="event-bullet" *ngIf="checkEvent(day)"></div>
      </ng-template>
        -->
    </ion-grid>
  <div class="selected-event" *ngIf="isSelected">
    <ion-list>
      <ion-item *ngFor="let se of selectedEvent">
        <ion-buttons expand="block"  (click)="deleteEvent(se)">
        </ion-buttons><ion-icon name="close"></ion-icon>
        <h2>{{se.title}}</h2>
        <h3>{{se.message}}</h3>
        <p>Start Date: {{se.startDate}}<br>
        Start Date: {{se.endDate}}</p>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal();">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
<ion-button   expand="block" (click)="openModal()">Set Event</ion-button>
<ion-button   expand="block" (click)="getCalendarViewDate()">View Event</ion-button>
</ion-footer>


