<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Template
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Template 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Scrollable Segment -->
  <ion-content padding>
    <div padding>
      <ion-segment [(ngModel)]="day" scrollable value="days">
        <ion-segment-button *ngFor="let day of days" value={{day}}>
          {{day}}
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="day">
      <div *ngFor="let day of days">
        <ion-list *ngSwitchCase=day>
          <ion-item>
            <h2>{{day}}</h2>
          </ion-item>
          <ion-item-sliding>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Your Event</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item *ngFor="let item of doc_name">
                    <ion-label>{{item}}</ion-label>
                    <ion-checkbox slot="end" (ionChange)="addCheckbox($event,item)"></ion-checkbox>
                  </ion-item>
                  <ion-label></ion-label>
                  <!-- <button ion-button color="dark" (click)="checkAll()">Mark all</button> -->
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </ion-content>


  <!--Plus icon-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal();">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>