
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Template
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Template 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Scrollable Segment -->
  <ion-segment scrollable value="mon">
    <ion-segment-button value="mon">MON</ion-segment-button>
    <ion-segment-button value="tues">TUES</ion-segment-button>
    <ion-segment-button value="wed">WED</ion-segment-button>
    <ion-segment-button value="thurs">THURS</ion-segment-button>
    <ion-segment-button value="fri">FRI</ion-segment-button>
    <ion-segment-button value="sat">SAT</ion-segment-button>
    <ion-segment-button value="sun">SUN</ion-segment-button>
  </ion-segment>



  <ion-item-sliding>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Your Event</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item  *ngFor="let item of doc_name">
            <ion-label>{{item}}</ion-label>
            <ion-checkbox slot="end"  (ionChange)="addCheckbox($event,item)"></ion-checkbox>
          </ion-item>
          <ion-label></ion-label>
          <!-- <button ion-button color="dark" (click)="checkAll()">Mark all</button> -->
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-item-sliding>
</ion-content>


<!--Plus icon-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal();">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



